body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
#container{
	width:90%;
	display: grid;
	margin:20px auto;
	column-gap:2%;
	row-gap: 5px;
	grid-template-columns: repeat(12,1fr);
	grid-template-rows: auto;
	grid-template-areas:
    "header header header header header header header header header header header header"
	"box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box3 box3"
	"content content content content content content content content sidebar sidebar sidebar sidebar"
	"footer footer footer footer footer footer footer footer footer footer footer footer"
	

}

#header{
	grid-area:header;

}
#box1{
	grid-area:box1;
	
}
#box2{
	grid-area:box2;

}
#box3{
	grid-area:box3;
	
}

#content{
	grid-area: content;

}

#sidebar{
	grid-area:sidebar;
	
}
#footer{
	grid-area:footer;
	

	display: grid;

	column-gap:2%;
	row-gap: 5px;
	grid-template-columns: repeat(12,1fr);
	grid-template-rows: auto;
	grid-template-areas:
	""
}

#footer_section_1{
	grid-area:footer_section_1;
	
}

.border{
	border:1px solid black;
	height:100px;
}