body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}
#container{
	width:89%;
	height: auto;
	display: grid;
	margin:20px auto;
	margin-bottom: 40px;
	column-gap:2.08%;
	row-gap:10px;
	grid-template-columns: repeat(12,1fr);
	grid-template-rows: auto;
	grid-template-areas:
    "header header header header header header header header header header header header"
	"box1 box1 box2 box2 box2 box2 box2 box2 box2 box2 box3 box3"
	"content content content content content content content content content  sidebar sidebar sidebar"
	"footer footer footer footer footer footer footer footer footer footer footer footer"
	

}

#header{
	grid-area:header;
	background-color: lightgray;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	column-gap: 2%;
	

}
#box1{
	grid-area:box1;
	
}
#box2{
	grid-area:box2;

}
#box3{
	grid-area:box3;
	
}

#content{
	grid-area: content;

}

#sidebar{
	grid-area:sidebar;
	
}
#footer{
	grid-area:footer;
	display: grid;
    padding:1%;
	height: auto;
	column-gap:2%;
	row-gap: 5px;
	grid-template-columns: repeat(12,1fr);
	grid-template-rows: auto;
	grid-template-areas:
	"footer_section_1 footer_section_1 footer_section_1 footer_section_2 footer_section_2 footer_section_2 footer_section_3 footer_section_3 footer_section_3 footer_section_4 footer_section_4 footer_section_4"
}

#footer_section_1{
	grid-area:footer_section_1;
	
}
#footer_section_2{
	grid-area:footer_section_2;
	
}
#footer_section_3{
	grid-area:footer_section_3;
	
}
#footer_section_4{
	grid-area:footer_section_4;
	
}

.border{
	border:1px solid black;
	height:150px;
}

/*media queries for small desktop*/

@media screen and (max-width:1200px) and (min-width:960px)
{
    #container{
    grid-template-areas:
    "header header header header header header header header header header header header"
	"box1 box1 box1 box2 box2 box2 box2 box2 box2 box3 box3 box3"
	"content content content content content content content content sidebar sidebar sidebar sidebar"
	"footer footer footer footer footer footer footer footer footer footer footer footer";

    }

	#footer{
		
		column-gap:2.2%;
		padding:0.7%;
	}
}
/*media queries for tablet*/
@media screen and (max-width:960px) and (min-width:768px)
{
    #container{
    grid-template-areas:
    "header header header header header header header header header header header header"
	"box1 box1 box1 box1 box2 box2 box2 box2 box3 box3 box3 box3"
	"content content content content content content sidebar sidebar sidebar sidebar sidebar sidebar"
	"footer footer footer footer footer footer footer footer footer footer footer footer";

	margin-bottom: 100px;
    }

	#footer{
		
	
		grid-template-areas:
		"footer_section_1 footer_section_1 footer_section_1 footer_section_1 footer_section_1 footer_section_1 footer_section_2 footer_section_2 footer_section_2 footer_section_2 footer_section_2 footer_section_2"

		" footer_section_3 footer_section_3  footer_section_3  footer_section_3  footer_section_3  footer_section_3  footer_section_4 footer_section_4 footer_section_4 footer_section_4 footer_section_4 footer_section_4";
        
	    height:auto;
		padding:1%;
		row-gap:15px;
		
		
	}
}

/*media queries for mobile*/
@media screen and (max-width:767px)
{
    #container{
    grid-template-areas:
    "header header header header header header header header header header header header"
	"box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 box1 "
	"box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2 box2"
	"box3 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3 box3"
	"content content content content content content content content content content content content"
	"sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar sidebar"
	"footer footer footer footer footer footer footer footer footer footer footer footer";
	row-gap: 20px;
	margin-bottom: 50px;
	width:91%;
	
    }

	#footer{
		grid-template-areas:
		"footer_section_1 footer_section_1 footer_section_1 footer_section_1 footer_section_1 footer_section_1 footer_section_1 footer_section_1 footer_section_1 footer_section_1 footer_section_1 footer_section_1"

		"footer_section_2 footer_section_2 footer_section_2 footer_section_2 footer_section_2 footer_section_2 footer_section_2 footer_section_2 footer_section_2 footer_section_2 footer_section_2 footer_section_2"

		" footer_section_3 footer_section_3  footer_section_3  footer_section_3  footer_section_3  footer_section_3  footer_section_3 footer_section_3 footer_section_3 footer_section_3 footer_section_3 footer_section_3"
		
		" footer_section_4 footer_section_4 footer_section_4  footer_section_4  footer_section_4  footer_section_4  footer_section_4 footer_section_4 footer_section_4 footer_section_4 footer_section_4 footer_section_4";
        
	    height:auto;
		padding:1%;
		row-gap:15px;
		
	}
}